/*-----------------
	Reset
------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------------
	Typography
------------------*/


body, h3{
	font: normal 700 16px 'Open Sans', Helvetica, Arial, sans-serif;
}

p{
	font: normal 16px 'EB Garamond', Georgia, serif;
}



/*-----------------
	Main Content
------------------*/


.main-content{
	margin: 60px auto;
	max-width: 900px;
	transition: 1s;
	
}


@media (max-width: 500px){

	.main-content{
		margin: 25px auto;
		padding: 0 25px;

	}

}

/*-------------------
	Background
--------------------*/

.background {
	position:absolute;
	z-index: 0;
	top: 50%;
}

.background > ul {
	font-size: 250px;
	font-weight: bold;
	max-width: 900px;
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto;
	transition: 0.5s;
}

.background li  {
	margin: 50px;
	transition: 0.5s;
}

@media (max-width: 800px){

	.background > ul {
		font-size: 145px;
		grid-template-columns: auto auto auto auto;
	}

	.background li  {
	margin: -20px;
}

}

@media (max-width: 500px){

	.background > ul {
		font-size: 145px;
		grid-template-columns: auto auto auto;
	}

	.background li  {
	margin: -10px;
}

}


/*-------------------
	All Projects
--------------------*/

/*	Projects List	*/ 


.projects-list{
	width:100%;
	max-width: 900px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 0px auto;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	z-index: 1;
	position: relative;
}

#hack {
	grid-column: 2 / 4;
}

.projects-list.hidden {	
	display: none;
}



.cover-photo {
	height: 100px;
	/*border:1px solid black;*/
	border-radius: 3px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	/*padding: 25px;*/
	/*-ms-transform: skewY(160deg); /* IE 9 */
    /*-webkit-transform: skewY(160deg); /* Safari */
    /*transform: skewY(160deg);*/
    background-color:rgba(4,4,4,0.5);
    overflow: hidden;
    background-size:cover;
}



figcaption {
	font-size: 0.8em;
	margin-top: 5px;
	/*-ms-transform: rotateZ(-20deg); /* IE 9 */
    /*-webkit-transform: rotateZ(-20deg); /* Safari */
    /*transform: rotateZ(-20deg);*/
}



/*
.all-products.visible .products-list,
.all-products.visible .filters,
.all-products.visible h3{
	opacity: 1;
	transition: 1s;
	pointer-events: auto;
}


.products-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}

/* The product image */
/*
.products-list .product-photo{
	display: block;
	text-align: center;
	box-shadow : 0 0 20px 8px #f3f3f3 inset;

	width: 275px;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
}



/* Making the list responsive */

@media (max-width: 800px){

	.projects-list{
		grid-template-columns: auto auto auto;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	#hack {
		grid-column: 2 / 3;
}

}

@media (max-width: 500px){

	.projects-list{
		grid-template-columns: auto;
		grid-row-gap: 15px;
	}

	#hack {
		grid-column: 1 / 1;
}

}



/*---------------------------
	Single Project Page
----------------------------*/

.single-product{
	z-index: 100;
}

.overlay{
	height: 0px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	transition: 0.6s;
	z-index: 100;
}
	
.single-product.visible .overlay{
	height: 100%;
}

.preview-large{
	box-sizing: border-box;
	height: 100%;
	position: relative	;
	margin: 50px auto;
	pointer-events: none;
	background-color:  #ffffff;
	z-index: 102;
	opacity: 0;
	transition: 0.4s;

}

.single-product.visible .preview-large{
	opacity: 1;
	transition: 1.4s;
	pointer-events: auto;
}

.preview-large h2{
	margin-top: 20px;
	font-size:22px;
}

.preview-large img{
	width: 500px;
	/*height: 280px;*/
	border-bottom: 3px solid #efefef;
	border-radius: 5px 5px 0 0;
}

.preview-large p{
	line-height: 23px;
	padding: 0px 0px 25px 0px;
	max-width:500px;
}

.preview-large ul{
	list-style: disc;
	padding: 0px 0px 25px 0px;
}

/*.preview-large h3{
	font-weight: bold;
}*/

.close{
	position: absolute;
	right: 25px;
	top: 15px;

	font-size: 28px;
	color: #555;
	cursor: pointer;
}


/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}



/*---------------------------
	Footer
----------------------------*/

footer{
	background-color:#00af8a;
	color:white;
	padding:25px;
	display:grid;
	grid-template-columns: auto;
	transition: 1s;
}


address {
	max-width:900px;
	display:grid;
	grid-template-columns: auto auto auto;
}

.copyright{
	font-size: 10px;
	opacity:0.5;
	max-width:900px;
	display:block;
}

@media (max-width: 500px){

	.footer{
		padding: 25px;

	}

	address {
	grid-template-rows: auto auto;
	}

}
